@tailwind base;
@tailwind components;
@tailwind utilities;

.section-container {
  @apply container m-auto px-8 lg:px-28;
}

.nav-link {
  @apply text-gray-300 text-[18px] uppercase font-medium block hover:text-white;
}

.icon-bar {
  @apply bg-white h-1 w-6;
}

.masthead {
  @apply h-screen w-full;
}

.masthead {
  background-image: url(/assets/img/slider-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.custom-btn {
  @apply py-6 px-9 rounded-lg capitalize text-lg hover:opacity-90 transition;
}
